<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Automation of ProofHub Lite application">

  <test name="ProofHub Lite application test cases" >
    <classes>
      <class name="com.proofhub.testcases.PasswordPageTest"/>
    </classes>
 </test>
</suite>
